* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCCCCC;
}

#nav-image {
    max-width: 100%;
    height: auto;
}

#logo {
    max-width: 80px;
}

#nav-title {
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/* Parallax Formating */
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: red solid 1px;
}

.parallax_layer_back {
    transform: translatez(-10px) scale(11);
    max-width: 800px;
    /* margin: auto; */
}

.parallax_layer_base {
    transform: translateZ(0);
    max-width: 800px;
    /* margin: auto; */
}


.gallery {
    height: 700px;
}